.con-1 {
  width: 100%;
  height: 500px;
  background: url(../../assets/images/story_1.png);
  background-repeat: no-repeat;
  background-size: cover;
 
}

.con-1 h1 {
  font-family: poppins;
  text-align: center;
  padding: 20px;

  font-size: 60px;
}

.left-1 {
  float: left;
  width: 50%;
  text-align: center;
  padding-left: 15px;
  font-family: poppins;

  font-size: 18px;

  font-weight: bold;
}
.right-1 {
  float: right;
  width: 50%;
  text-align: center;
  padding-right: 15px;

  font-family: poppins;
  font-size: 18px;
  font-weight: bold;
}
